<%= markdown do %>
<%= I18n.t 'subscriptions.email.charge_receipt_1', company_name: @account.company_name %>

<% if @manual %>
  <%= I18n.t 'subscriptions.email.charge_receipt_2_manual',
                amount: humanized_money_with_symbol(@amount), plan_name: @subscription.subscription_plan.name,
                end_date: format_date(@subscription.next_renewal_at) %>
<% else %>
  <%= I18n.t 'subscriptions.email.charge_receipt_2', card_number: @subscription.card_number,
                amount: humanized_money_with_symbol(@amount), plan_name: @subscription.subscription_plan.name,
                end_date: format_date(@subscription.next_renewal_at) %>
<% end %>

<%= I18n.t 'subscriptions.email.charge_receipt_3' %>

<%= I18n.t 'subscriptions.email.questions', email: @account.preferred_support_email %>

---
<%= I18n.t 'subscriptions.email.account', email: @subscriber.email %>
<%= I18n.t 'subscriptions.email.plan_name', plan_name: @subscription.subscription_plan.name %>
<% end %>
