<%= I18n.t 'subscriptions.email.plan_changed_1', company_name: @account.company_name, plan_name: @subscription.subscription_plan.name %>

<% if @subscription.amount.positive? -%>
<%= I18n.t 'subscriptions.email.plan_changed_2', renewal_date: format_date(@subscription.next_renewal_at) %>

<% if @subscription.needs_payment_info? -%>
<%= I18n.t 'subscriptions.email.plan_changed_3' %>
<% end -%>
<% end -%>

<%= I18n.t 'subscriptions.email.questions', email: @account.preferred_support_email %>

---
<%= I18n.t 'subscriptions.email.account', email: @subscriber.email %>
<%= I18n.t 'subscriptions.email.plan_name', plan_name: @subscription.subscription_plan.name %>
<%= I18n.t('subscriptions.email.billing_page', billing_link: @billing_profile_url) if @subscription.needs_payment_info? %>
