<% submit_url = (@subscription.new_record? ? admin_subscription_plan_subscriptions_path : admin_subscription_plan_subscription_path) %>
<%= simple_form_for @subscription, url: submit_url,
      html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>

  <%= f.error_notification message: "Please review the problems below" %>

  <%= panel header: false do %>
    <%= f.input :amount, label: 'Amount', wrapper: :bs3_horizontal_group do %>
      <%= content_tag :span, @subscription.amount.symbol, class: "input-group-addon" %>
      <div class="width_25_percent">
        <%= f.input_field :amount, class: 'form-control' %>
      </div>
    <% end %>
    <%= f.input :next_renewal_at, as: :date_picker, label: 'Next Renewal', input_wrapper_html: {class: 'col-sm-4'}, hint: 'Date when the next subscription charge / renewal will be' %>
    <%= f.input :paid_until, as: :date_picker, label: 'Paid Until', input_wrapper_html: {class: 'col-sm-4'}, hint: 'Subscription is paid up until this date' %>
    <%= f.input :card_number, label: 'Card Number', input_html: {class: 'width_50_percent'} %>
    <%= f.input :card_expiration, label: 'Card Expiration', input_html: {class: 'width_50_percent'} %>
    <%= f.input :state, label: 'Status', required: true, collection: ['active', 'inactive', 'trial'], input_html: {class: 'width_25_percent'} %>
    <%= f.input :billing_id, label: 'Billing ID', disabled: true, input_html: {class: 'width_50_percent'} %>
    <%= submit_or_cancel cancel_url: (@subscription.new_record? ? admin_subscription_plans_path : admin_subscription_plan_path(@subscription_plan)) %>

  <% end %>

<% end %>