<% submit_url = make_payment_admin_subscription_plan_subscription_path(@subscription_plan, @subscription) %>
<%= simple_form_for :make_payment, url: submit_url,
      html: { class: 'form-horizontal' }, wrapper: :bs3_horizontal_form, wrapper_mappings: DmAdmin::FormWrapperMappings do |f| %>

  <%= f.error_notification message: "Please review the problems below" %>

  <%= panel header: false do %>
    <p>Making a payment <strong>will</strong> renew the subscription date by the plan's renewal period. (monthly, yearly, etc)</p>
    <%= f.input :amount, label: 'Amount', wrapper: :bs3_horizontal_group do %>
      <%= content_tag :span, @subscription.amount.symbol, class: "input-group-addon" %>
      <div class="width_25_percent">
        <%= f.input_field :amount, class: 'form-control', value: @subscription.amount %>
      </div>
    <% end %>
    <% if false %>
      <%= f.input :payment_date, label: 'Paid On', as: :date_picker, input_wrapper_html: {class: 'col-sm-4'} %>
      <%= f.input :payment_method, label: 'Method', as: 'select', collection: WorkshopPrice::PAYMENT_METHODS, include_blank: false, input_html: {style: "width: 200px"} %>
    <% end %>


    <%= subsection title: 'Billing Address (will appear on invoice)' do %>
      <%= f.input :name_on_card, label: 'Name', input_html: {value: @subscription.name_on_card} %>

      <%= f.fields_for :billing_address, @subscription.billing_address, wrapper: :bs3_horizontal_form do |builder| %>
        <%= builder.input :line1, label: I18n.t('core.profile_address') %>
        <%= builder.input :line2, label: ' ' %>
        <%= builder.input :city, label: I18n.t('core.profile_city') %>
        <%= builder.input :state, label: I18n.t('core.profile_state') %>
        <%= builder.input :zip, label: I18n.t('core.profile_zipcode') %>
        <%= builder.input :country, label: I18n.t('core.profile_country') do %>
          <%= ut_country_select_tag('make_payment[billing_address][country_code]', @subscription.billing_address.country_code, as: :code) %>
        <% end %>
      <% end %>

    <% end %>

    <%= submit_or_cancel cancel_url: edit_admin_subscription_plan_subscription_path(@subscription_plan, @subscription) %>

  <% end %>

<% end %>
