<% content_for :content_title, "Subscription Financial Details" %>

<% if false %>
<div class="row">
  <div class="col-md-12">
    <%= panel title: 'Summary' do %>
      <div class="chart span6" style="height: 185px;margin-bottom:20px;" id="payment_outstanding_chart"
           data-values="<%= [ {label: "Paid: #{@financials[:summary][:total_paid].format(no_cents_if_whole: true, symbol: true)}",
                               data: @financials[:summary][:total_paid].to_f, color: '#4DB24A' },
                              {label: "Outstanding: #{@financials[:summary][:total_outstanding].format(no_cents_if_whole: true, symbol: true)}",
                               data: @financials[:summary][:total_outstanding].to_f, color: '#F24E50' }
                            ].to_json %>">
      </div>

      <div class="span6">
        <table class="table table-bordered table-condensed" style="margin-top:10px">
          <thead>
            <tr>
              <th class="name"></th>
              <th class="cost">Best</th>
              <th class="cost">Worst <small>(80%)</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><strong>Projected Revenue</strong></th>
              <td class="cost"><%= @financials[:summary][:total_possible].format(no_cents_if_whole: true, symbol: true) %></td>
              <td class="cost"><%= @financials[:summary][:total_possible_worst].format(no_cents_if_whole: true, symbol: true) %></td>
            </tr>
            <tr>
              <th><strong>Outstanding</strong></th>
              <td class="cost"><%= @financials[:summary][:total_outstanding].format(no_cents_if_whole: true, symbol: true) %></td>
              <td class="cost"><%= @financials[:summary][:total_outstanding_worst].format(no_cents_if_whole: true, symbol: true) %></td>
            </tr>
            <tr>
              <th><strong>Paid</strong></th>
              <td colspan="2" class="cost"><%= @financials[:summary][:total_paid].format(no_cents_if_whole: true, symbol: true) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= panel title: 'Collected Payments by Month' do %>
      <div class="span7 chart" style="height: 200px" id="collected_monthly_chart"
           data-values="<%= financial_collected_monthly_json(@financials[:collected_monthly]) %>"
           data-currencysymbol="<%= Money.new(0, @workshop.base_currency).symbol %>" >
      </div>
      <div class="span5">
        <table class="table table-bordered table-condensed" style="margin-top:10px">
          <tbody>
            <% @financials[:collected_monthly].sort.each_with_index do |item, index| -%>
              <tr>
                <td class="name"><%= item[0].localize("%b %Y") %></td>
                <td class="cost" style="text-align: right;"><%= @financials[:collected_monthly][item[0]].format(no_cents_if_whole: true, symbol: true) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= panel title: 'Collected Payments by Method' do %>
      <div class="chart" style="height: 185px;" id="collected_chart" data-values="<%= financial_collected_json(@financials[:collected]) %>">
      </div>
    <% end %>
  </div>
</div>
<% end %>

<% if false %>
<%= panel title: 'List of Payments' do %>
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th class="date">Date</th>
        <th class="name">Name</th>
        <th class="item_id">Item ID / Description</th>
        <th class="cost">Paid</th>
        <th class="payment_method">Payment Method</th>
        <th class="type">Recorded By</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.sort { |x, y| x.payment_date <=> y.payment_date }.each_with_index do |payment, index| -%>
        <tr>
          <td class="date" style="white-space:nowrap"><%= format_date(payment.payment_date) %></td>
          <td class="name"><%= payment.owner.full_name %></td>
          <td class="item_id"><%= payment.item_ref %></td>
          <td class="cost"><%= payment.total.format(no_cents_if_whole: true, symbol: true) %></td>
          <td class="payment_method" style="white-space:nowrap"><%= payment.payment_method.titleize %></td>
          <td class="type"><%= payment.user_profile.nil? ? 'Automated' : payment.user_profile.public_name %></td>
        </tr>
        <% if !payment.bill_to_name.blank? || payment.discount.to_i > 0 || (!payment.order_details.nil? && !payment.order_details['coupon'].nil?) %>
          <tr>
            <td></td>
            <td colspan="5">
              <ul class="row_detail">
                <% unless payment.bill_to_name.blank? %>
                  <li><strong>Payed by:</strong> <%=h payment.bill_to_name %></li>
                <% end %>
                <% if payment.discount.to_i > 0 %>
                  <li><strong>Discount:</strong> <%=h payment.discount %></li>
                <% end %>
                <% unless payment.order_details.nil? || payment.order_details['coupon'].nil? %>
                  <li><strong>Coupon Code:</strong> <%=h payment.order_details['coupon']['coupon_code'] %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
<% end %>