<% content_for :content_title, "#{@subscription_plan.name} (#{humanized_money_with_symbol @subscription_plan.amount}) <small>Subscription Plan</small>".html_safe %>
<% content_for :content_title_extra do %>
  <%= page_header_buttons do %>
    <%= link_to(icon_label(:edit, 'Edit'), edit_admin_subscription_plan_path(@subscription_plan), title: 'Edit Subscription Plan', class: "btn btn-sm btn-default") %>
  <% end %>
<% end %>

<% toolbar = toolbar_btn(icons(:new), new_admin_subscription_plan_subscription_path(@subscription_plan), title: 'New Subscription', class: "btn btn-xs btn-default") %>
<%= panel body: false, title: "Fully Paid", toolbar: toolbar do %>
  <table class="table table-striped table-bordered table-block">
    <thead>
      <tr>
        <th>Subscriber</th>
        <th>State</th>
        <th>Amount</th>
        <th>Next Renewal At</th>
        <th>Paid Until</th>
        <th>Card Number</th>
        <th>Billing ID</th>
      </tr>
    </thead>
    <tbody>
      <% @fully_paid.each do |subscription| %>
        <tr class="item">
          <td><%= link_to "#{subscription.subscriber.name}", edit_admin_subscription_plan_subscription_path(@subscription_plan, subscription) %></td>
          <td><%= subscription.state %></td>
          <td><%= humanized_money_with_symbol subscription.amount %></td>
          <td><%= format_date(subscription.next_renewal_at) %></td>
          <td><%= format_date(subscription.paid_until) %></td>
          <td><%= subscription.card_number %></td>
          <td><%= subscription.billing_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= panel body: false, title: "Lapsed Subscriptions" do %>
  <table class="table table-striped table-bordered table-block">
    <thead>
      <tr>
        <th>Subscriber</th>
        <th>State</th>
        <th>Amount</th>
        <th>Next Renewal At</th>
        <th>Paid Until</th>
        <th>Card Number</th>
        <th>Billing ID</th>
      </tr>
    </thead>
    <tbody>
      <% @lapsed.each do |subscription| %>
        <tr class="item">
          <td><%= link_to "#{subscription.subscriber.name}", edit_admin_subscription_plan_subscription_path(@subscription_plan, subscription) %></td>
          <td><%= subscription.state %></td>
          <td><%= humanized_money_with_symbol subscription.amount %></td>
          <td><%= format_date(subscription.next_renewal_at) %></td>
          <td><%= format_date(subscription.paid_until) %></td>
          <td><%= subscription.card_number %></td>
          <td><%= subscription.billing_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= panel body: false, title: "Never Paid" do %>
  <table class="table table-striped table-bordered table-block">
    <thead>
      <tr>
        <th>Subscriber</th>
        <th>State</th>
        <th>Amount</th>
        <th>Next Renewal At</th>
        <th>Paid Until</th>
        <th>Card Number</th>
        <th>Billing ID</th>
      </tr>
    </thead>
    <tbody>
      <% @never_paid.each do |subscription| %>
        <tr class="item">
          <td><%= link_to "#{subscription.subscriber.name}", edit_admin_subscription_plan_subscription_path(@subscription_plan, subscription) %></td>
          <td><%= subscription.state %></td>
          <td><%= humanized_money_with_symbol subscription.amount %></td>
          <td><%= format_date(subscription.next_renewal_at) %></td>
          <td><%= format_date(subscription.paid_until) %></td>
          <td><%= subscription.card_number %></td>
          <td><%= subscription.billing_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
