<% content_for :head do %>
  <% if @payment_api.stripe? %>
    <%= tag :meta, :name => "stripe-key", :content => DmSubscriptions::StripeApiPaymill.new.public_key %>
    <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <% elsif @payment_api.paymill? %>
    <%= tag :meta, :name => "paymill-key", :content => DmSubscriptions::PaymentApiPaymill.new.public_key  %>
    <script type="text/javascript">
      var PAYMILL_PUBLIC_KEY = '<%= DmSubscriptions::PaymentApiPaymill.new.public_key %>';
    </script>
    <%= javascript_include_tag "https://bridge.paymill.com/" %>
  <% end %>
<% end %>
